/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}
#home header {
    background: no-repeat lightgray url(images/cliff_ocean.jpg);
    background-size: 1500px;
}
#activities header {
    background: no-repeat lightgrey url(images/runfly.jpg);
    background-size: 1500px;
}
#contact header {
    background: no-repeat lightgrey url(images/cliff_rock.jpg);
    background-size: 1500px;
}
#cliffs header {
    background: no-repeat lightgrey url(images/forest_cliff.jpg);
    background-size: 1500px;
}
.main-header /* when calling a class, use "." + class name */{
    background-color: rgb(255,255,255,0.8); /* 0.8 is opacity */
    width: 710px;
    margin: 2em auto 0 auto; /* auto auto means auto-centered from both right and left*/
    min-height: 100px;
    height: 100px;
}
.logo img{
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
    float: left;
}
/* Navigation */
.main-menu {
    margin-left: 227px;
    font-weight: 400;
}
.main-menu ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
}
.main-menu ul li a {
    text-decoration: none;
    color: #888;
}
.main-menu ul li a:hover {
    color: #9ed034;
}
.main-menu ul li.active {
    background: #9ed034;
    border: none;
}
.main-menu ul li.active a {
    color: #fff;
}
/* Clock */
#timeofday {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: #3a3a3a;
    height: 2.5em;
    padding-top: 20px;
    background: linear-gradient(0deg, rgba(251,515,139,1) 0%, rgba(118,213,245,1) 100%);
}
#clock {
    color: #125688;
    font-weight: bold;
}

/* Main */
main {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 60px;
    padding-right: 60px;
    margin: 60px;
    font-size: large;
}
main h1,h2 {
    color:#9ed034;
}
/* Partners */
section {
    width: 100%;
    background-color: #4288c3;
}
section #partners {
    width: 1200px;
    padding: 2em 0 2em 0;
    margin: 0 auto;
    text-align: center;
}
section #partners .partner {
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}
section #partners .partner img {
    width: 90px;
    height: 90px;
}

/* Footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
}
footer #disclaimer p {
    font-size: 0.85;
    text-align: center;
}
footer #nondisclaimer .social .fa{
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook {
    background: #3b5998;
    color: #ffffff;
}
footer #nondisclaimer .social .fa-twitter {
    background: #55acee;
    color: #ffffff;
}
footer #nondisclaimer .social .fa-instagram {
    background: #ec0ab4;
    color: #ffffff;
}

/* Activities */
table {
    width: 1000px;
    margin: 4em auto 0 auto;
}
table caption {
    background: #852b1b;
    height: 40px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
}
thead {
    background-color: #bde1ff;
}
tbody {
    background-color: #eeffe6;
    text-align: center;
}
th, td {
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px #852b1b;
}
th:first-child {
    width: 125px;
    height: 50px;
    background-color: #4977d1;
    color: white;
}
td:first-child {
    font-weight: bold;
    background-color: #bde1ff;
}

/* Table Toggle */
#events.active {
    background: #9ed034;
    color: #fff;
}
#events {
    cursor: pointer;
}
#displaySelected {
    visibility: hidden;
    margin: 2em auto;
    width: 800px;
    height: 200px;
    border: 2px solid #9ed034;
    padding: 0.75em;
}
#displaySelected #result, #displaySelected #sendinfo {
    display: inline-block;
    margin: 0;
}
#result {
    min-height: 50px;
    width: 400px;
    padding: 0;
}
#result h4 {
    margin-bottom: 1em;
    font-size: 1.15em;
}
#sendinfo input[type="email"] {
    width: 300px;
    display: inline-block;
}
#sendinfo button {
    display: inline-block;
}

/* Contact */
.contactinfo {
    line-height: 35px;
    padding-bottom: 7px;
    padding-top: 10px;
}
span:first-child {
    font-weight: bold;
}

/* Form */
fieldset {
    border: #9ed034 3px solid;
}
legend {
    font-weight: bold;
    color: #4977d1;
    text-transform: uppercase;
}

/* textbox */
.textbox {
    display: block;
    font-weight: bold;
    margin: 30px 0 30px 30px;
}
input {
    display: block;
    width: 600px;
    height: 35px;
    border: lightgrey solid 3px;
    margin-bottom: 20px;
}

/* radio */
input[type="radio"] {
    width: 25px;
    height: 15px;
    display: inline;
    margin: 0px 0 30px 0px;
}
.radios label {
    font-weight: bold;
    margin: 0px 0 0px 30px;
    display: inline;
}

/* select */
.selectmenu label {
    margin: 0 0 30px 30px;
    font-weight: bold;
}
select {
    margin: 0 0 30px 0px;
    width: 180px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    border: lightgrey solid 3px;
}

/* textarea */
.commentbox label {
    margin: 0 0 0 30px;
    font-weight: bold;
    display: block;
}
textarea {
    margin: 0 0 0 30px;
    width: 600px;
    height: 250px;
    resize: none;
    border: lightgrey solid 3px;
}
input[type="submit"] {
    width: 160px;
    height: 49px;
    /*background-color: #4f74c2;*/
    color: white;
    border: none;
    font-size: large;
    font-weight: bold;
    margin: 20px 0 30px 480px;
}

/* Random Number Generator */
input[name="randomecode"] {
    width: 160px;
    display: inline;
    margin-left: 300px;
    margin-right: 20px;
    margin-top: 30px;
    text-align: center;
    font-size: large;
}
#codes {
    background-color: rgba(128, 128, 128, 0.4);
    padding: 20px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}


/* Images-Cliffs */
.column {
    float: left;
    width: 45%;
    padding: 0px 15px 15px 15px;
  }
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.caption {
    background-color: #852b1b;
    color: #fff;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
    font-weight: bold;
    padding-top: 10px;
}